.search-bar {
  min-height: 125px;
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(39, 23, 184),
    rgb(57, 17, 158)
  );
}

.lokalno-vreme {
  color: white;
  padding-top: 15px;
}
