.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 660px;
  height: 50px;
  margin: 20px auto;
}

.row {
  margin-top: 10px;
}

.row.uprow {
  margin-top: 30px;
}

.container.proslost {
  max-width: 660px;
}
